.carrousel {
	position: fixed;
	top: 25vw;
	left: 25vh;
	width: 50vw;
	height: 50vw;
	z-index: 1;
	background-color: grey; // image
}

.carrousel--ouvrir {
	transition: transform .5s, opacity .5s;
	transform: scale(1);
	opacity: 1;
}

.carrousel--fermer {
	transition: transform .2s, opacity .2s;
	transform: scale(0);
	opacity: 0;
}

.carrousel__bouton--ouvrir {}

.carrousel__bouton--fermer {
	position: absolute;
	top: 0;
	right: 0;
	z-index: inherit;
	background-color: turquoise;
}

.carrousel__figure {
	position: absolute;
	width: inherit;
	height: inherit;
	top: 0;
	left: 0;
	overflow: hidden;
}

.carrousel__figure__img {
	display: none;
	max-height: 100%;
	object-fit: cover;
}

.carrousel__figure__img--active {
	display: block;
}

.carrousel__nav * {
	position: absolute;
	bottom: 0;
	z-index: 1;
}

.carrousel__bouton--precedent {
	left: 0;
	background-color: turquoise;
}

.carrousel__bouton--suivant {
	right: 0;
	background-color: turquoise;
}

.carrousel__bouton--fermer:active,
.carrousel__bouton--precedent:active,
.carrousel__bouton--suivant:active {
	background-color: red;
}
