.carrousel {
	position: absolute;
	top: 25vw;
	left: 25vh;
	width: 50vw;
	height: 50vw;
	z-index: 1;
	background-color: grey; // image
}

.carrousel--ouvrir {
	transition: transform .5s, opacity .5s;
	transform: scale(1);
	opacity: 1;
}

.carrousel--fermer {
	transition: transform .2s, opacity .2s;
	transform: scale(0);
	opacity: 0;
}
