@charset "UTF-8";
/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
/* Couleurs
--------------------------------------------- */
/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/* Galerie
--------------------------------------------- */
.galerie > figure {
  border-bottom: 3px solid transparent;
  transition: ease-in-out 100ms;
  cursor: pointer;
}
.galerie > figure:hover {
  border-bottom: 3px solid #ffa07a;
}
.galerie > figure:active {
  border-bottom: 3px solid #2e8b57;
}

/* Carrousel
--------------------------------------------- */
.carrousel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  min-width: 75vw;
  height: 80%;
  z-index: 1;
  background-color: #202020;
}

.carrousel--ouvrir {
  transition: transform 0.5s, opacity 0.5s;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.carrousel--fermer {
  transition: transform 0.2s, opacity 0.2s;
  transform: translate(-50%, -40%);
  opacity: 0;
  pointer-events: none;
}

/* Navigation
--------------------------------------------- */
.carrousel__nav {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.carrousel__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 10px;
}

.carrousel__nav {
  background-color: inherit;
  border-top: 1px solid #2e8b57;
}

/* Formulaire
--------------------------------------------- */
.carrousel__form {
  display: flex;
  align-items: center;
  gap: 30px;
  text-align: center;
}

/* Figure
--------------------------------------------- */
.carrousel__figure {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/* Bouton
--------------------------------------------- */
.carrousel__bouton {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

.carrousel__bouton {
  background-color: #ffffff;
  border: none;
  border-radius: 100%;
  transition: 200ms ease-in-out;
}
.carrousel__bouton:hover {
  color: #ffffff;
}
.carrousel__bouton:active {
  background-color: transparent;
}

.carrousel__bouton--fermer {
  margin: 10px;
  margin-left: auto;
  font-size: 19px;
  font-weight: bolder;
  color: #ffa07a;
  z-index: 1;
}
.carrousel__bouton--fermer:hover {
  background-color: #ffa07a;
}

/* Boutons Nav ----------------------- */
.carrousel__bouton--precedent,
.carrousel__bouton--suivant {
  color: #2e8b57;
}
.carrousel__bouton--precedent:hover,
.carrousel__bouton--suivant:hover {
  background-color: #2e8b57;
}

/* Radios
--------------------------------------------- */
/* Boite d'un radio */
.carrousel__radio {
  display: block;
  position: relative;
  width: fit-content;
  height: 20px;
  cursor: pointer;
  font-size: 22px;
}

.carrousel__radio {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Cacher le bouton radio par défaut */
.carrousel__radio .carrousel__form__radio {
  position: absolute;
  height: 16px;
  width: 16px;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

/* Nouveau bouton radio personnalisé */
.carrousel__radio__custom {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
}

.carrousel__radio__custom {
  background-color: #ffffff;
  border-radius: 50%;
  transition: 200ms ease-in-out;
}

.carrousel__radio:hover .carrousel__form__radio ~ .carrousel__radio__custom {
  background-color: #ffa07a;
  border-radius: 0;
}

.carrousel__radio .carrousel__form__radio:checked ~ .carrousel__radio__custom {
  background-color: #2e8b57;
  border-radius: 100%;
}

/* Figure
--------------------------------------------- */
.carrousel__figure__img {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s;
}

.carrousel__figure__img--active {
  position: fixed;
  opacity: 1;
  z-index: -1;
}/*# sourceMappingURL=style.css.map */