$color__border-img: transparent;
$color__border-img_hover: #ffa07a;
$color__border-img_active: #2e8b57;

$color__background-carrousel: #202020;
$color__text-carrousel: #ffffff;

$color__background-nav: inherit;
$color__border-nav: #2e8b57;

$color__background-button: #ffffff;
$color__text-button_hover: #ffffff;
$color__background-button_active: transparent;
$color__text-button-x: #ffa07a;
$color__background-button-x_hover: #ffa07a;
$color__text-button-nav: #2e8b57;
$color__background-button-nav_hover: #2e8b57;

$color__background-radio: #ffffff;
$color__background-radio_hover: #ffa07a;
$color__background-radio_checked: #2e8b57;
